{{ define "main" }}
<div class="row flex-xl-nowrap">
	<div class="col-lg-3 col-xl-2 d-none d-xl-block">
		<nav class="docs-links" aria-label="Main navigation">
			{{ partial "sidebar/container-menu.html" . }}
		</nav>
	</div>

	<main class="docs-content col-lg-13 col-xl-11">
		<h1>{{ .Title }}</h1>
		<p class="lead">{{ .Params.lead | safeHTML }}</p>
		{{ partial "main/headline-hash.html" .Content }}
		{{ partial "main/edit-page.html" . }}
		{{ partial "main/docs-navigation.html" . }}
		{{ partial "main/utterances.html" . }}
	</main>

	<nav class="docs-toc d-none d-xl-block col-lg-3 col-xl-2" aria-label="Secondary navigation">
		{{ partial "sidebar/docs-toc.html" . }}
	</nav>
</div>
{{ end }}